@font-face {
    font-family: 'Dubai';
    src: url('../fonts/dubai/Dubai-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Dubai';
    src: url('../fonts/dubai/Dubai-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dubai';
    src: url('../fonts/dubai/Dubai-Medium.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Dubai';
    src: url('../fonts/dubai/Dubai-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

body {
    font-family: 'Dubai', sans-serif !important;
}

h1 {
    font-family: 'Dubai' !important;
    font-weight: bold !important; /* Para usar Dubai Bold */
}

h2, h3 {
    font-family: 'Dubai' !important;
    font-weight: bold !important; /* Para usar Dubai Bold */
}

p {
    font-family: 'Dubai'!important;
    font-weight: 100 !important; /* Para usar Dubai Light */
}

.button {
    font-family: 'Dubai' !important;
    font-weight: 500 !important; /* Para usar Dubai Medium */
}


a {
    color: #228AC5; /* Color de los enlaces en su estado normal */
}
  
a:hover {
    color: #DE1D2A; /* Color de los enlaces cuando pasas el cursor por encima */
}
  
.site-navbar .site-navigation .site-menu .has-children .dropdown {
    border-top: 2px solid #DE1D2A !important; /* Borde superior rojo */
    background-color: transparent !important; /* Fondo transparente */
    box-shadow: none !important; /* Elimina cualquier sombra que pueda estar aplicada */
}
/* Navegación principal */
.site-menu a {
    color: #fafbfc !important; /* Color principal de los enlaces */
}

.site-menu a:hover {
    color: #DE1D2A !important; /* Cambia el color al rojo del logo en hover */
}


/* Enlace de contacto con color específico */
.site-menu a[href="#contacto"] {
    color: #DE1D2A;
}

.site-menu a[href="#contacto"]:hover {
    color: #228AC5; /* Cambia a azul en hover */
}

/* Para el menú hamburguesa en móviles */
.site-menu-toggle {
    color: #fff; /* Mantiene el color blanco */
}

.bg-image {
    margin-bottom: 100px;
}

.btn-wrapper {
    position: fixed;
    right: 20px;
    bottom: 35px;
    z-index: 1000;
}

/* Carrusel */

.carousel-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* Ajustar según necesites */
    position: relative; /* Asegúrate de que las imágenes se posicionen correctamente */
}

/* Estilos específicos para cada imagen */
.carousel-item:nth-child(1) {
    background-image: url('../images/hero_bg_1.webp');
}

.carousel-item:nth-child(2) {
    background-image: url('../images/hero_bg_2.webp');
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Ajusta la transparencia de la capa si lo deseas */
}



.feature-1 {
    background-color: #228AC5 !important; /* Cambiado a azul del logo */
    padding: 30px 50px;
    color: rgba(255, 255, 255, 0.9); /* Aumentado el contraste del texto */
    font-size: 15px;
    border-radius: 10px; /* Añadido un pequeño borde redondeado para mejor diseño */
    transition: background-color 0.3s ease; /* Transición para efecto hover */
}

.feature-1:hover {
    background-color: #DE1D2A; /* Efecto hover cambiando a rojo del logo */
}

.feature-3 {
    background: #228AC5 !important;
}

.feature-3:hover {
    background-color: #DE1D2A; /* Efecto hover cambiando a rojo del logo */
}

.icon-dollar {
    color: #DE1D2A !important;
}

.icon-phone {
    color: #DE1D2A !important;
}

.empezar {
    background-color: #228AC5;
    border-color: #228AC5;
   
}

.custom-paragraph {
    color: #000000;
}

.custom-heading {
    color: #228AC5;
}

.custom-label {
    color: #FFFFFF;
}

.custom-btn {
    background-color: #DE1D2A;
    border-color: #DE1D2A;
    color: #FFFFFF;
    padding: 10px 20px;
    font-size: 16px;
}

.custom-btn:hover {
    background-color: #b61821;
    border-color: #b61821;
}

.textoservicios {
    color: #228AC5 !important;
}

.border-primary {
    border-color: #228AC5 !important;
}

.border-primary:after {
    border-color: #228AC5 !important;
}

.how-it-work-item .number {
    background: #228AC5 !important
}

/* Estilos generales para el logo */
.logo {
    max-width: 100%;
    height: auto;
    display: block;
}

/*contacto*/


  .bg-custom {
    background-color: #5ec3fd !important; /* Cambia a un color más claro si lo deseas */
    color: white !important; /* Ajusta el color del texto si es necesario */
}
/*footer*/

.footer__backtotop {
    float: right;
    cursor: pointer;
    font-size: 16px; /* Ajusta el tamaño del texto */
    color: #228AC5; /* Color del botón, ajusta según tu esquema de colores */
    text-transform: uppercase;
    transition: color 0.3s ease; /* Efecto de transición */
}

.footer__backtotop:hover {
    color: #DE1D2A; /* Color al pasar el cursor, ajusta según tu esquema */
}

.footer__backtotop i {
    margin-left: 10px; /* Ajusta el espacio entre el texto y el icono */
    font-size: 18px; /* Tamaño del icono */
}

.footer__backtotop i:hover {
    color: #DE1D2A; /* Cambia el color del icono al pasar el cursor */
}

/* Ajustes para pantallas grandes */
@media (min-width: 1200px) {
    .logo {
        max-width: 140px;
    }
}

/* Ajustes para pantallas medianas */
@media (min-width: 768px) and (max-width: 1199px) {
    .logo {
        max-width: 120px;
    }

    .carousel-item {
        min-height: 400px; /* Mantener una altura menor en pantallas pequeñas */
      }

    .site-blocks-cover {        
        height: calc(60vh) !important;
    }
}


/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .logo {
        max-width: 100px;
    }

    .site-blocks-cover {        
        height: calc(60vh) !important;
    }

    .empezar {
        padding: 15px 30px; /* Padding para pantallas medianas en adelante */
        font-size: 18px; /* Tamaño del texto más grande */
    }

    .carousel-item {
        min-height: 400px; /* Ajustar la altura en pantallas pequeñas */
      }
    }

@media (max-width: 576px) {
    .empezar {
        padding: 10px 20px; /* Ajusta el padding para pantallas pequeñas */
        font-size: 16px; /* Ajusta el tamaño del texto */
    }
    .carousel-item {
        min-height: 400px; /* Ajustar la altura en pantallas pequeñas */
      }
      
      h1 {
        font-size: 24px; /* Ajustar el tamaño del texto en pantallas pequeñas */
      }

    .site-blocks-cover h1 {        
        font-size: 1.8rem;
    }

    .site-blocks-cover {        
        height: calc(60vh) !important;
    }
}
    
   